@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
	font-family: 'Oswald-Bold';
	src: url(../fonts/Oswald/Oswald-Bold.ttf);
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'PPFormulaCondensed-Bold';
	src: url(../fonts/Formula_Condensed/PPFormulaCondensed-Bold.ttf);
}

@font-face {
	font-family: 'Inter-SemiBold';
	src: url(../fonts/Inter/static/Inter-SemiBold.ttf);
}

body, html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
    font-family: 'Oswald';
}


.nav-item {
	display: flex;
	width: 20%;
    text-transform: uppercase;
	white-space: pre-line;
	align-items: center;
}

.search-dropdown {
	display: flex;
	align-items: center;
}



.login-wrap {
	position: fixed;
	right: 33px;
}

.login-btn {
	font-family: 'Inter', sans-serif;
	font-size: 27px;
	color: #F8F7EA;
}

.login-btn:hover {
	color: #F8F7EA;
	opacity: 0.7;
}

.toolbox-login {
	text-align: center;
	color: black !important;
	font-size: 15px;
	text-transform: uppercase;
}



a {
	text-decoration: none !important;
}

button:focus{
	box-shadow: none !important;
}



p{
	font-family: "Open Sans";
}



.sec_2_one{
	z-index: 2;
	position: relative;
}

.sec_2_two{
	position:relative;
	width: auto;
	height: 47px;
	background: rgb(180, 216, 139);
	text-align: center;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	padding-top: 12px;
	margin-right: -1px;
	margin-left: -1px;
}


.sec_2_two_before {
	content: "";
	position:absolute;
	top:-40px;
	left:0px;
	height:40px;
	width: 40px;
	border-bottom-left-radius: 50%;
	background: transparent;
}

.sec_2_two_after {
	content: "";
	position:absolute;
	top:-40px;
	right: 0px;
	height:40px;
	width: 40px;
	border-bottom-right-radius: 50%;
	background: transparent;
}



.sec_2_three{
	margin-top: -40px;
	position: absolute;
}




.search-result {
    border-radius: 40px;
    background-color: lightgrey;
    padding: 20px 20px 20px 10px;
    top: 70%;
    width: fit-content;
  }  





/*drop down menu*/
.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropdown>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
.dropdown-toggle::after{
	border: none;
}
.dropdown-item:focus, .dropdown-item:hover {
	border-radius: 100px;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: lightgrey;
}

.navbar-nav .nav-link {
	padding-right: 0 !important;
	padding-left: 0 !important;;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.li-font {
	font-family: 'Open Sans';
	margin-top: 5px;
	margin-bottom: 5px;
}

button {
	font-family: 'Open Sans' !important;
}

.nav-tabs {
	border-bottom: 0px;
}

.content-hidden {
	display: none;
}

.content-show {
	display: block;
}



#search:focus { outline: none; }

.search-result {
	right: 0;
	left: auto;
}




@media (max-width: 1920px)  {
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1300px) {
	
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1200px) {
	
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
	

	.login-wrap {
		right: 28px;
	}

	.login-btn {
		font-size: 18px;
	}

	

	.search-result {
		width: 100%;
	}

	.nav-item {
		display: table;
		width: 100%;
	}

	.search-dropdown {
		display: contents;
	}

	#collapsibleNavbar{
	display: none;


}

	
}

@media (max-width: 475px) {
	

	.login-wrap {
		right: 22px;
	}

	.login-btn {
		font-size: 14px;
	}

	
}

/*Tool Box Section*/


.bg-dark{
	background-color: transparent !important;
}
.navbar-toggler {
	background-color: black !important;
}
.nav_link_styling{
	text-align: center;
	color: black !important;
	font-size: 15px;
	text-transform: uppercase;
}
@media (max-width: 767px) {
	/*navbar-nav > mr-5{
        margin: 0px !important;
    }
    navbar-nav > ml-5{
        margin: 0px !important;
    }*/
	.nav_link_styling{
		margin: 0px !important;
	}



}








